@import "../abstracts/variables";

.header {
  display: flex;
  justify-content: center;

  .header__firs {
    display: flex;
    align-items: center;

    &-img {
      width: 56.2rem;
    }

    &-div {
      position: relative;
      top: -5rem;
      margin-left: 3.5rem;
      width: 12rem;
    }
  }
}

.header__second {
  background-color: $color-grey;
  display: flex;
  position: absolute;
  top: 26rem;
  margin-left: 8rem;
  height: 6rem;
  padding: 20px;

  div {
    width: 10rem;
  }
}

.icons {
  position: absolute;

  &__orange {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18rem;
    left: 19rem;
    background-color: $color-orange;
    z-index: 2;
    width: 8rem;
    height: 8rem;

    i {
      font-size: 2rem;
      color: white;
    }
  }

  &__yellow {
    position: absolute;
    top: 19.5rem;
    left: 20.3rem;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    background-color: $color-yellow;
  }
}
