@import '../abstracts/variables';

.navBar {
  display: flex;
  height: 3rem;
  margin: 2rem;
  align-items: center;
  justify-content: space-around;

  &__menu {
    display: flex;
    align-items: center;

    &-logo {
      width: 2.5rem;
      margin-right: 3rem;
    }

    &-ul {
      list-style: none;
    }

    &-ul li {
      display: inline-block;
    }

    &-ul li a {
      text-decoration: none;
      margin: 15px;
      color: $color-isabelline;
    }

    &-ul li a:hover {
        color: $color-black;
      }
  }

  .containter-btns{
    .btn-registro {
      margin-right: 1.3rem;
    }
  }
}
