@import '../abstracts/variables';

.conocenos {
    display: flex;
    justify-content: center;
    padding: 2rem;

    &__column {
        margin: 0 2rem;
    }
}

#colN2 {
    position: absolute;
    top: 34.5rem;
    width: 29rem;
    height: 11rem;
    background-color: $color-blue;

    .imgMap {
        position: absolute;
        margin-top: 2rem;
        margin-right: 5rem;
        width: 25rem;
    }

    .imgCafe {
        position: absolute;
        width: 8rem;
        height: 10rem;
        object-fit: cover;

    }
}

#colN3 {
    width: 25rem;
}